.header-image.header2 {
  max-width: 100%; /* Adjust this value to control the width of the image */
  height: auto; /* Maintains the aspect ratio */
}

.header-image-container3 {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically, if needed */
  width: 100%; /* Container takes the full width of the parent */
}

.select-button3 {
  background-color: #006564; /* Dark green background color */
  color: #ffffff; /* White text color */
  padding: 10px 0px; /* Padding for height and width */
  font-size: 16px; /* Font size for readability */
  border: none; /* Removes default border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center; /* Centers the text */
  width: 90%; /* Full width of the button */
  margin-top: 10px;
  margin-bottom: 0px;
}

.service-list {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 85%;
  margin-top: 10px;
}

.service-item:hover {
  background-color: #e0e0e0;
}

.service-text {
  font-weight: 500;
}

.arrow {
  font-size: 18px;
  color: #888; /* Lighter color for the arrow */
}
